<body>
  
  <footer>
    <div class="row">
      <div class="column">
        <h3 class="logo">OnlineGarage</h3>
       <p class="web-desc"> 
        We are a young start up with a one point aim to revolutionize Garage services to solve the most complex problem of auto servicing in India
       </p>
      </div>
      <div class="column">
        <h5>Quick Links</h5>
      <ul class="footer-links">
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="/garages">Garages</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
      </div>
      <div class="column">
        <h5>Get In Touch</h5>
        <ul class="contact-details">
          <li>
            <i class="bi bi-geo-alt-fill"></i>
            <span>Thiruvalla, Pathanamthitta</span>
          </li>
          <li>
            <i class="bi bi-telephone"></i>
            <span>+91-123-132-332</span>
          </li>
          <li>
            <i class="bi bi-envelope-at"></i>
            <span>onlinegarage@mywebsite.com</span>
          </li>
        </ul>
        <ul class="social-link-icons">
          <li>
            <a href="#">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-google"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>