
<div id="intro" class="bg-image shadow-1-strong" style="
background-image: url(../../../assets/images/3.jpg);
height: 1000px;
">
<div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6); margin-top: px">
<div class="container d-flex align-items-center justify-content-center text-center h-100">
<div class="text-white">
  <h1 class="mb-3">TO BUILD, TO BREAK, TO REPAIR!!</h1>
  <h4 class="mb-4">"It's Better to prepare than to Repair"</h4>
</div>
</div>
</div>


<div class="slider">
	<input type="radio" name="slide_switch" id="id1"/>
	<label for="id1">
		<img src="../../../assets/images/5.jpg" width="100" height="55"/>
	</label>
	<img src="../../../assets/images/5.jpg" style="height: 320px; width: 650px;" />
	
	<!--Lets show the second image by default on page load-->
	<input type="radio" name="slide_switch" id="id2" checked="checked"/>
	<label for="id2">
		<img src="../../../assets/images/11.jpg" width="100"/>
	</label>
	<img src="../../../assets/images/11.jpg" style="height: 320px; width: 650px;"/>
	
	<input type="radio" name="slide_switch" id="id3"/>
	<label for="id3">
    		<img src="../../../assets/images/10.jpg" width="100" height="55"/>
	</label>
	<img src="../../../assets/images/10.jpg" style="height: 320px; width: 650px;"/>
	
	<input type="radio" name="slide_switch" id="id4"/>
	<label for="id4">
		<img src="../../../assets/images/9.jpg" width="100" height="55"/>
	</label>
	<img src="../../../assets/images/9.jpg" style="height: 320px; width: 650px;"/>
	
	<input type="radio" name="slide_switch" id="id5"/>
	<label for="id5">
		<img src="../../../assets/images/8.jpg" width="100" height="55"/>
	</label>
	<img src="../../../assets/images/8.jpg" style="height: 320px; width: 650px;"/>
</div>
  


</div>
  
  
